extends layout
block content
 .jumbotron
  .container
   h1 #{title}
   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad velit laudantium, enim deserunt ratione rem quas vero unde, quia pariatur dolorum, voluptas maiores quaerat aspernatur atque. Deleniti et laboriosam totam.
   p
    a.btn.btn-primary.btn-lg(href='#', role='button') Learn more >>
 .container
  .row
   .col-md-4
    h2 Mission
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda cupiditate, cumque amet ex reiciendis iure nostrum, saepe inventore pariatur in ab maxime, repudiandae quas itaque eum hic. Cum, cupiditate eos.
    p 
     a.btn.btn-default(href='#', role='button') View details >>
   .col-md-4
    h2 Vision
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam ipsam amet nesciunt architecto, dignissimos, reiciendis cum distinctio eaque cupiditate alias illo doloribus. Ullam maiores aliquam aut tenetur quidem culpa asperiores!
    p 
     a.btn.btn-default(href='#', role='button') View details >>
   .col-md-4
    h2 Service
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum quam ipsa asperiores voluptate eum reprehenderit illo ducimus, autem nobis, hic commodi officiis dignissimos repellat, neque nostrum accusantium officia minus ipsam.
    p 
     a.btn.btn-default(href='#', role='button') View details >>